.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
  .logo {
    height: 128px;
    width: 128px;
    margin: 1rem;
  }
  .presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
  }
    .title {
      font-size: 2rem;
    }
    .presentation p {
      padding-top: 1rem;
      font-size: 1.1rem;
    }
    .google {
      margin-right: 1vw;
    }
.user {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
