.homeHeader {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    height: 49px;
    border-bottom: 1px solid #CCC;
    background: #FFFFFFee;
    width: 100%;
    backdrop-filter: blur(5px);
}
    .homeTitle {
        margin: 1rem;
    }
.homeTimeline {
    padding-top:  3.5rem;
}
.homeNavbar {
    position: fixed;
    bottom: 0;
    height: 49px;
    border-top: 1px solid #CCC;
    background: #FFF;
    width: 100%
}