.tweet {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #eaf7ff;
}
.avatarContainer {
    padding-right: 1vw;
}
.tweetMessage{
    margin-top: 0rem;
    line-height: 1.3125;
}
.timestamp {
    color: #00000083
}
.tweetImg{
    height: auto;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
}